/*body{

	width:100px;
	height:100px;	
	padding:0px;
	margin:auto;
	text-align:center;
}

*html{


	width:100px;
	height:100px;
	padding:0px; 
	margin:auto;
	text-align:center; 
}*/


#mapid{

	height:400px;
}

#canvas{

		padding:0px;
		margin:auto;
		display:block;
}
